<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>
        #credit {
            margin-top: 3em;
            text-align: center
        }
    </style>
  </head>
  <body>
    <div id='diagram'></div>
    <div id='credit'>
        <p>Powered by <a href='https://github.com/mdaines/viz.js'>viz.js</a></p>
        <p>Generated at {{{now}}}</p>
    </div>

    <script type="text/vnd.graphviz" id="cluster">
{{{dotdata}}}
    </script>
    <script src="viz.js"></script>
    <script>
      function inspect(s) {
        return "<pre>" + s.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/\"/g, "&quot;") + "</pre>"
      }

      function byId(id) {
        return document.getElementById(id);
      }

      function example(id) {
        try {
          return Viz(byId(id).innerHTML, "svg");
        } catch(e) {
          return inspect(e.toString());
        }
      }

      byId('diagram').innerHTML = example("cluster");
    </script>
  </body>
</html>
